.title {
  width: 30vw;
}

.name {
  font-family: Engravers MT;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 116px;

  color: #434242;
}
.subTitle {
  width: 100%;

  h2 {
    font: 2em 'Berkshire Swash';
    text-align: right;
  }
}
